*{
    font-family: 'League Gothic', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container{
    background-image: url("./images/loginIMG.jpg");
    height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
}

.login-form{
    margin-left: 150px;
}

.login-heading{
    /* font-family: 'League Gothic', sans-serif; */
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    font-size: 3rem;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 30px;
    width: 550px;
    text-align: center;
}

.text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.email{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.input-div{
    margin-bottom: 20px;
}
input{
    background-color: transparent;
}

input:focus{
    /* color: #eaeaea; */
    outline: none;
    background-color: #ffffff66;
}
.input{
    width: 100%;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    border: 2px solid rgb(255, 255, 255);
    color: #ffffff;
}

.forgot-pass{
    
    color: #ffffff; 
    /* color: #831a2e; */
    margin-bottom: 10px;
}

.remember-div{
    display: flex;

}

input.check-box{
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 8px;
}
.remember-p{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.login-btn{
    position: relative;
    /* height: 45px;
    width: 150px; */
    /* margin: 10px 7px; */
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #ffffff;
    border: 2px #ffffff solid;
    border-radius: 3px;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  
  .login-btn:hover {
    color: rgb(0, 0, 0);
  }
  
  .login-btn:before {
    content: "";
    position: absolute;
    background: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.1s ease-in;
  }
  
  .login-btn:hover:before {
    top: 0;
  }
  
.signup-btn{
    padding: 10px 30px;
    color: #ffffff;
    background-color: #26bd00;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.signup-btn:hover{
    background-color: #2ccf03;
    transition: all 0.3s ease-in-out;
}